In [1]:
%run Morichon_Sébastien_2_code_062023.ipynb

In [2]:
df = pd.read_csv("Données/billets_test_sebastien.csv", sep=",")

In [3]:
df

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

In [4]:
prediction_billet_RL(df)

     height_right  margin_low  margin_up    length  Prédiction
id
B_1     -1.050164   -0.660639  -0.937158  1.046311           1
B_2      0.241021    0.730180  -0.137145 -0.518587           0
B_3     -0.964085   -1.577314   0.777156  1.274764           1
B_4      0.068863    1.204322   1.462881 -1.341015           0
B_5      1.704365    0.303451  -1.165733 -0.461474           0