In [1]:
%run Morichon_Sébastien_2_code_062023.ipynb

In [2]:
df = pd.read_csv("Données/billets.csv", sep=";")

In [3]:
df_test = df.sample(5)

In [4]:
df_test.drop("is_genuine", axis=1, inplace=True)

In [5]:
df_test

      diagonal  height_left  height_right  margin_low  margin_up  length
1047    171.78       103.95        104.27        4.64       3.29  110.73
98      171.54       103.75        103.62        4.59       2.85  113.44
1359    172.25       104.52        104.22        4.65       3.43  110.48
625     172.05       103.42        104.10        4.45       2.99  112.67
763     172.41       104.43        103.65        3.97       3.35  113.71

In [6]:
prediction_billet_RL(df_test)

      height_right  margin_low  margin_up    length  Prédiction
1047      1.061204    0.705367   0.484466 -1.090631           0
98       -1.253503    0.509432  -1.489283  0.911814           1
1359      0.883150    0.744554   1.112477 -1.275358           0
625       0.455819   -0.039187  -0.861272  0.342854           1
763      -1.146670   -1.920166   0.753613  1.111320           1

In [12]:
df.loc[df.index==763]

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
763,True,172.41,104.43,103.65,3.97,3.35,113.71