In [1]:
%run Morichon_Sébastien_2_code_062023.ipynb

In [2]:
df = pd.read_csv("Données/billets.csv", sep=";")
data = df.sample(5)
test_data = data.drop("is_genuine", axis=1)

In [3]:
prediction_billet(test_data)

,diagonal,height_left,height_right,margin_low,margin_up,length,cluster
80,171.89,103.42,103.35,4.92,3.02,113.20,1
87,171.70,103.75,103.40,4.47,3.28,113.57,1
1423,171.74,104.17,104.56,5.54,3.05,111.67,0
1283,171.60,104.23,104.45,5.57,3.45,110.34,0
1334,172.22,104.41,104.64,5.20,3.37,112.20,0

In [9]:
data.loc[data.index==1334]

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
1334,False,172.22,104.41,104.64,5.2,3.37,112.2