In [1]:
%run Morichon_Sébastien_1_code_062023.ipynb

In [2]:
df = pd.read_csv("Données/billets.csv", sep=";")
data = df.sample(5)
test_data = data.drop("is_genuine", axis=1)

In [3]:
prediction_billet(test_data)

,diagonal,height_left,height_right,margin_low,margin_up,length,cluster
1139,171.32,104.20,104.09,5.67,3.19,112.02,0
1287,171.31,103.95,104.07,5.14,3.41,112.44,0
279,172.29,103.73,103.55,3.84,3.23,113.90,1
804,171.34,103.95,103.29,4.89,2.76,112.58,1
582,172.13,103.99,104.22,3.61,2.91,113.39,1

In [9]:
data.loc[data.index==582]

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
582,True,172.13,103.99,104.22,3.61,2.91,113.39