In [1]:
%run Fonction_Prédiction_Billets.ipynb

In [2]:
df = pd.read_csv("Données/billets.csv", sep=";")
data = df.sample(5)
test_data = data.drop("is_genuine", axis=1)

In [3]:
prediction_billet(test_data)

,diagonal,height_left,height_right,margin_low,margin_up,length,cluster
1123,172.07,104.03,103.58,5.33,3.64,111.27,1
1040,171.91,104.08,104.16,5.91,3.41,111.32,1
44,171.79,103.83,103.76,3.99,3.18,112.90,0
285,172.27,103.78,103.86,4.25,2.86,112.73,0
212,171.59,104.06,103.85,4.41,3.29,113.49,0

In [9]:
data.loc[data.index==212]

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
212,True,171.59,104.06,103.85,4.41,3.29,113.49